In [18]:
#check google chrome version:chrome://settings/help
#source: https://pypi.org/project/chromedriver-binary/92.0.4515.107.0/
import chromedriver_binary
import time 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import re
import pandas as pd

In [2]:
url = 'https://genome.ucsc.edu/cgi-bin/hgBlat'
chromedriver_path = "C:/Users/JiunShyanGoh/Documents/Testenv/Lib/site-packages/chromedriver_binary/chromedriver.exe"

In [8]:
driver = webdriver.Chrome(executable_path = chromedriver_path)
driver.get(url)

#box to key in search text
text = "GGTTTCGCAGATTTTTCCCGACTCTGTAATGTTGGCGGTGCAGGAAGGGATTGACTTACTCACTTTTCCGCCGGCGCCCGGTTCTCCGGAGCCGCCTCACCTTTCCCGGCAGCCCGAGCAGCCGGAGCAGAGAGCCTTGGGTCCGGTTTCTATGCCAAACCTTGTACCGGAGGTGATCGATCTTACCTGCCACGAGGCTTCCACCCAGTGACGACGAGGATGAAGAGGGTGAGGAGTTTGTGTTAGATTATGTGGAGCACCCCGGGCACGGTTGCAGGTCTTGTCATTATCACCGGAGGAATACGGGGGACCCAGATATTATGTGTTCGCTTTGCTATATGAGGACCTGTGGCATGTTTGTCTACA"
textBox = driver.find_element_by_xpath("//textarea[@name = 'userSeq']")
textBox.send_keys(text)

submitButton = driver.find_element_by_xpath("//input[@name = 'Submit']")
submitButton.click()

#get info
xPath = "//pre"
#wait until there is any related element
wait = WebDriverWait(driver, 20)
auto_element = wait.until(EC.visibility_of_element_located((By.XPATH, xPath)))
elements = driver.find_elements_by_xpath(xPath)

info = [i.get_attribute("innerText") for i in elements]

<ipython-input-8-8c66fa920815>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = chromedriver_path)

In [33]:
colList = ["QUERY",  "SCORE", "START1", "END1", "QSIZE", "IDENTITY",  "CHROM",  "STRAND",  "START2", "END2", "SPAN"]

In [29]:
content = [re.sub(" +", " ", i.strip()) for i in info[0].split("\nbrowser details") if "YourSeq" in i]
content = [i.split(' ') for i in content]
content

[['YourSeq',
  '22',
  '217',
  '243',
  '366',
  '83.4%',
  'chr19',
  '-',
  '29781113',
  '29781137',
  '25'],
 ['YourSeq',
  '20',
  '145',
  '164',
  '366',
  '100.0%',
  'chr8',
  '+',
  '87026887',
  '87026906',
  '20']]

In [34]:
df = pd.DataFrame(content, columns = colList)
df

,QUERY,SCORE,START1,END1,QSIZE,IDENTITY,CHROM,STRAND,START2,END2,SPAN
0,YourSeq,22,217,243,366,83.4%,chr19,-,29781113,29781137,25
1,YourSeq,20,145,164,366,100.0%,chr8,+,87026887,87026906,20

In [47]:
#get highest identity
maxIdentity = df['IDENTITY'].str.replace("%", "").astype(float).max()
maxIdentity = str(maxIdentity) + '%'
df2 = df.query("IDENTITY == @maxIdentity")
df2

,QUERY,SCORE,START1,END1,QSIZE,IDENTITY,CHROM,STRAND,START2,END2,SPAN
1,YourSeq,20,145,164,366,100.0%,chr8,+,87026887,87026906,20